{% extends "app/layout.html" %}

{% block content %}
    
<h1>Dispositivos de Captura de Dados Multimodais</h1>
<p style="text-align: left"><a class="btn btn-primary" href="{% url 'dispositivos_captura_novo' %}">Cadastrar Novo Dispositivo</a></p>
<table class="table table-bordered" id="datatable" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>
            Código
        </th>
        <th>
            Nome
        </th>
        <th>
            Ações
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in dispositivos_captura %}
    <tr>
        <td>
            {{item.codigo}}
        </td>
        <td>
            {{item.nome}}
        </td>
        <td>
            <a class="btn btn-warning" href="{% url 'dispositivos_captura_alterar' codigo=item.codigo %}">Alterar</a>
            <a class="btn btn-danger" href="{% url 'dispositivos_captura_deletar' codigo=item.codigo %}">Deletar</a>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}